.layout_account {
    display: flex;
    flex-direction: row;
}

.left_navigation {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--separator-color);
}

.main_container {
    padding: 34px 64px;
    width: 100%;
}

.user_inform {
    margin-bottom: 50px;
}

.user_avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--primary);
    margin-bottom: 20px;
}

.user_email {
    color: var(--text-grey);
    font-size: 14px;
    font-weight: 400;
}

.user_name {
    color: var(--text);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.link > a {
    color: var(--text);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link > a:hover, .active {
    color: var(--primary) !important;
}

