.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    color: var(--text);
    font-size: 37px;
    font-weight: 600;
    line-height: 120%; /* 43.695px */
}