@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
input {
    color: var(--text-grey);
    background: none;
    font-style: normal;
    font-family: var(--font);
    font-weight: 400;
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

:root {
    font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    min-height: 100vh;

    /*color-scheme: light dark;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;


    --font: 'Open Sans';
    --primary: rgba(254, 114, 76, 1);
    --primary-hover: rgb(219, 75, 36);
    --text: rgba(0, 0, 0, 1);
    --text-grey: rgba(91, 91, 94, 1);
    --text-light: rgba(255, 255, 255, 1);
    --separator-color: #F1F2F3;
}
