

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--separator-color);
    padding: 10px 0;
    margin-bottom: 10px;
}

.order {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}